*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}
header{
    
}
nav {
    background-color: #3161E0;
    padding-top: 20px;
    font-size: large;
    
}

nav  ul img{
    vertical-align: middle;
    margin-right: 200px;
}
nav ul{
    
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    
}
nav a{
    color: white;
    text-decoration: none;
}

.btn{
    border-radius: 50px;
    border: 1px solid;
    padding: 8px 10px;
}
form{
    display: inline-block;
}

.white{
    background-color: white;
    border-color:white;
    margin-left: 200px;
}
.white-2{
    background-color: white;
    border-color:white;
}

.black{
    background-color:black;
    border-color:black;
    color: white;
}


.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 590px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    padding: 200px;
    
}

.jumbotron h1{
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
}

.jumbotron span{
    font-size: 25px;
    color: white;
    display: inline-block;
}

.title-btn{
    margin-top: 20px;
}