*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

nav {
    background-color: #3161E0;
    padding-top: 20px;
    font-size: large;
    
}

nav  ul img{
    vertical-align: middle;
    margin-right: 200px;
}
nav ul{
    
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration:underline;
    
}

.btn{
    border-radius: 50px;
    border: 1px solid;
    padding: 8px 10px;
    display: inline-block;
}
.btn a{
    text-decoration: none;
    color: gray;
}
.btn:hover {
    box-shadow: 5px 5px rgba(2, 2, 2, 0.5);
}

form{
    display: inline-block;
}

.white{
    background-color: white;
    border-color:white;
    margin-left: 200px;
}
.white-2{
    background-color: white;
    border-color:white;
}

.black{
    background-color:black;
    border-color:black;
    color: white;
}


.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 590px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    padding: 200px;
    
}

.jumbotron h1{
    color: white;
    margin-bottom: 20px;
    font-size: 50px;
}

.jumbotron span{
    font-size: 25px;
    color: white;
    display: inline-block;
}

.title-btn{
    margin-top: 20px;
}

.container{
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.container img{
    float: left;
    
    
}

.container .scritte{
    float: left;
    width: 45%;
    vertical-align: middle;
    text-align: left;
    padding-top: 30px;
}

.scritte h2{
    font-size: 46px;
    margin-bottom: 20px;
}

.scritte span{
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
}

.onda{
    line-height: 0px;
}
.container-2{
    vertical-align: middle;
    background-color:#f3f4f3;
    padding-top: 100px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 100px;
}

.container-2::after{
    content: '';
    display: table;
    clear: both;
    
}

.container-2 img{
    float: right;
    margin-right: 50px;
    
}

.container-2 .scritte{
    float: right;
    width: 45%;
    vertical-align: middle;
    text-align: left;
    padding-top: 30px;
    
}

.scritte h2{
    line-height: 40px;
}