*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
}
nav {
    background-color: #3161E0;
    padding-top: 20px;
    font-size: large;
    
}

nav  ul img{
    vertical-align: middle;
    margin-right: 200px;
}
nav ul{
    
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    
}
nav a{
    color: white;
    text-decoration: none;
}

.btn{
    border-radius: 50px;
    border: 1px solid;
    padding: 8px 10px;
    cursor: pointer;
}

.white{
    background-color: white;
    border-color:white;
    margin-left: 200px;
}


.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 590px;
    width: auto;
}
